html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    color: rgb(0, 0, 0);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

section{
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav li{
    display: inline;
    margin: 20px 20px 0 0;
}

h1{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}

a:hover{
    color: #659274;
}