html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1F4E5F;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
}

.container {
    display: grid;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1em;
    text-align: left;
    border: 3px solid #95f0e4;
    border-radius: 50px;
}

h2 {
    padding-left: 40px;
    margin: 10px 0;
}

nav {
    display: none;
    text-align: right;
    padding-right: 2em;
    align-content: center;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

main {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 15px;
    grid-template-areas:
        "home home"
        "info info"
        "contact contact";
}

section {
    border: 3px solid #95f0e4;
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
}

#home {
    text-align: center;
}

button {
    background-color: #95f0e4;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.bg-white {
    background-color: white;
    color: black;
    width: 100%;
}

#about h4 {
    margin-bottom: 0;
}

#about ul {
    list-style-type: square;
    margin-top: 5px;
    padding-left: 10px;    
}

#about ul li {
    margin: 10px;
}

#project a{
    color: rgb(0, 114, 9);
    transition: 0.3s;
}

#project a:hover {
    color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    .bg-white {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    nav {
        display: block;
    }
}