html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* HEADER */
header, footer, section{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: rgba(42, 46, 49, 0.575);
    backdrop-filter:blur(20px);
    border-radius: 20px;
    margin: 20px;
}

.burger {
    display: none;
}

header {
    position: sticky;
    top: 20px;
    z-index: 10;
    width: 97%;
    margin-right: 20px;
    align-items: start;
}

header h1 {
    font-size: 25px;
    margin: 10px 0;
    margin-left: 20px;
}

h5 {
    margin:0;
}

nav {
    width: auto;
    align-self: center;
}

nav ul {
    display: flex;
    justify-self: end;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

nav .back {
    border: 1px solid white;
    background-color: rgba(19, 21, 22, 0.349);
    padding: 5px 10px;
    border-radius: 20px;
}

/* MAIN */
h2 {
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    place-items: center;
    justify-content: center;
}

#saldo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: auto;
    margin-bottom: 20px;
    padding: 0 20px;
}

#saldo h2 {
    margin: 20px 0 0 0;
}

#saldo h3 {
    margin: 0;
    margin-bottom: 10px;
}

#form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: auto;
}

#form form {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    padding-top: 0;
}

#form h2 {
    margin:20px 20px;
}

label {
    font-weight: bold;
}

input {
    height: 20px;
    border: none;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px 0;
}

select {
    height: 30px;
    border-radius: 10px 0;
    border: none;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

option {
    background-color: black;
}

button {
    width: 100px;
    height: 30px;
    justify-self: center;
    border-radius: 20px;
    border: none;
    background-color: rgba(19, 21, 22, 0.349);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#table {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    min-height: 40vh;
    align-items: start;
    padding: 20px;
}

#table h2 {
    margin: 0;
    margin-bottom: 10px;
    justify-self: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.356);
}

thead {
    background-color: rgba(19, 21, 22, 0.349);
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 12px 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 20px;
    padding: 0 20px 10px 20px;
}

footer h2{
    margin: 0;
    margin-top: 20px;
}

footer p {
    margin-top: 5px;
    text-align: justify;
}

@media (max-width: 450px) {
    body.active {
        overflow: hidden;
    }

    header h2 {
        grid-area: judul;
    }

    header {
        grid-template-areas: 
        "judul burger"
        "nav nav";
        height: 50px;
        width: auto;
        transition: all 0.3s ease-in-out;
    }

    header.active {
        align-content: start;
        height: 80vh;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "judul burger"
        "nav nav";
    }

    .burger {
        display: flex;
        font-size: 25px;
        width: auto;
        align-items: center;
        justify-self: end;
        margin: 10px 20px 0 0;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        grid-area: burger;
    }

    nav {
        display: flex;
        grid-area: nav;
        margin: 20px;
        opacity: 0;
        justify-content: center;
        visibility: collapse;
        transition: all 0.3s ease-in-out;
    }

    nav.active {
        display: flex;
        justify-content: center;
        align-self: center;
        opacity: 1;
        visibility: visible;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
        text-align: center;
        scale: 1.5;
    }

    main {
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto 1fr auto;
        width: 100vw;
    }

    #saldo {
        width: 80vw;
    }

    #form {
        width: 90vw;
    }

    #table {
        width: fit-content;
        scale: 0.7;
    }

}
