html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "judul nav";
    place-items: center;
    justify-self: center;
    align-content: center;
    align-self: start;
    border: 1px solid #95f0e4;
    width: 97%;
    height: 52%;
    margin-top: 15px;
    position: sticky;
    top: 15px;
    backdrop-filter: blur(10px);
}

header h1 {
    justify-self: start;
    padding-left: 20px;
    font-size: 24px;
}

header nav {
    padding-right: 5px;
}


header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button {
    display: none;
}

.back {
    padding: 5px 20px;
    border: 1px solid #95f0e4;
    border-radius: 15px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 20px;
}

.item {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.gambar {
    border: 1px solid #95f0e4;
    border-radius: 30px;
}

.item h4 {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    margin: 20px 20px 15px 20px;
    border: 1px solid #95f0e4;
}

footer p {
    text-align: justify;
}

@media (max-width: 425px) {
    body.active {
        overflow: hidden;
    }

    header {
        grid-template-areas: 
        "judul burger";
    }

    header.active {
        align-content: start;
        height: 90vh;
        grid-template-areas: 
        "judul burger"
        "nav nav";
    }

    header h1.active {
        margin: 0;
    }

    nav {
        display: none;
    }

    .button {
        display: block;
        border: 0;
        background: none;
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
    }

    .button h2 {
        font-size: 35px;
        margin: 0;
    }

    .button.active {
        transform: rotate(90deg);        
    }

    nav.active {
        display: block;
        height: 50vh;
        width: 50vw;
        align-content: center;
        font-size: 23px;
        border-top: 1px solid#95f0e4;
        padding: 0 20%;
    }

    nav ul {
        flex-direction: column;
    }
}