body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.box {
    background-color: aqua;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 1em;
}
