@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #0d0026;
}

aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: auto;
    padding: 0 30px;
    justify-items: center;
    background-color: #060014;
    z-index: 2;
}

aside ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 150px;
    gap: 20px;
}

ul a {
    text-decoration: none;
    color: #d3d3d3;
    padding: 5px 10px;
    transition: all 0.2s;
}

ul a:hover, ul a.active {
    color: #ffffff;
    background-color: #6f00ff80;
    border-radius: 15px;
    margin-left: 7px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

/* FOR TREASURY */
.m-treasury {
    grid-template-rows: auto 1fr;
}

.m-treasury h1 {
    margin: 20px;
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
    "outer outer"
    "balance table"
    "input table";
    gap: 20px;
    margin: 20px;
}

.outer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 0 20px;
}

.outer h2, h3, h4 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    height: fit-content;
    width: fit-content;
}

#switch {
    border-radius: 15px;
    max-width: fit-content;
    max-height: fit-content;
    justify-self: end;
    text-align: center;
    background-color: #3700ff;
    color: #d3d3d3;
    border: #d3d3d3;
    padding: 10px;
}

.m-treasury section {
    background-color: #2b00a0;
    border-radius: 15px;
    padding: 20px;
}

.m-treasury .input {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: fit-content;
}

.m-treasury .input form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

.m-treasury .input label {
    height: fit-content;
}

.m-treasury .input input, .input select, .input button, .balance button, button {
    border-radius: 15px;
    border: #d3d3d3;
    background-color: #150050;
    padding: 0 10px;
    min-height: 30px;
    color: #d3d3d3;
}

.input input {
    margin-bottom: 10px;
}

.input button {
    margin: 20px 0;
    padding: 0;
    background-color: #4400ff;
}

.balance button {
    margin: 0;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td:last-child, td:first-child {
    text-align: center;
}

table thead th {
    background-color: #150050;
}

table thead tr th {
    border: 1px solid #3700ff;
}

tbody tr:nth-child(even) {
    background-color: #150050;
}

button {
    transition: all 0.3s;
}

button:active {
    transform: scale(0.95);
    background-color: #270081;
}

.btn-hapus {
    background-color: #8b0909;
    min-height: fit-content;
    margin: 0;
    justify-self: center;
}

/* FOR TREASURY */


#content {
    background:
        linear-gradient(to right, rgba(10, 0, 42, 0.9), rgba(10, 0, 42, 0.4)),
        url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 90%;
    justify-self: center;
    align-content: center;
    align-self: center;
    border-radius: 15px;
}

#content h1, button {
    margin: 0 0 0 20px;
}

#content button {
    background-color: #3700ff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    color: aliceblue;
    border-radius: 15px;
    transition: all 0.2s;
}

#content button:hover {
    scale: 1.1;
}

#sub-content {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
    height: 30vh;
    margin: 0 50px 20px 50px;
    place-items: center;
}

.box {
    background-color: #2b00a0;
    backdrop-filter: blur(20px);
    align-self: flex-start;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.144);
    transition: all 0.3s;
}

.box:hover {
    scale: 1.1;
}

.box h4 {
    margin: 0;
    justify-self: center;
}

i {
    font-size: 30px;
    margin-bottom: 10px;
}

.burger {
    display: none;
    background: none;
    border: none;
    margin: 0;
    color: #d3d3d3;
    font-size: 40px;
    height: fit-content;
}

@media (max-width: 425px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    body.active {
        overflow: hidden;
    }

    aside {
        position: absolute;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 0fr;
        height: fit-content;
        width: 100%;
        padding: 0;
        align-items: start;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    aside.active {
        grid-template-rows: auto 1fr;
    }

    aside h1 {
        margin: 10px 0;
        font-size: 25px;
    }

    .burger {
        display: flex;
        justify-self: end;
        align-self: center;
        margin-right: 20px;
    }

    nav {
        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: 0.8s ease-in-out;
    }

    nav.active {
        opacity: 1;
        height: 100vh;
        visibility: visible;
    }

    nav li {
        margin-left: 28px;
    }

    main {
        grid-template-rows: auto 1fr;
        margin-top: 50px;
    }

    #content {
        height: 180px;
        align-content: end;
        font-size: 14px;
        margin: 20px 0;
    }

    #content button {
        display: none;
    }

    #sub-content {
        margin: 20px;
    }



}