@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #0d0026;
}

main h1 {
    font-size: 24px;
}

main h2 {
    font-size: 18px;
    margin-top: 0;
}

aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: auto;
    padding: 0 30px;
    justify-items: center;
    background-color: #060014;
    z-index: 2;
}

aside ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 150px;
    gap: 20px;
}

ul a {
    text-decoration: none;
    color: #d3d3d3;
    padding: 5px 10px;
    transition: all 0.2s;
}

ul a:hover, ul a.active {
    color: #ffffff;
    background-color: #6f00ff80;
    border-radius: 15px;
    margin-left: 7px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

/* FOR RECEIVABLES */
#main_receivable {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: "judul back" "input table";
    column-gap: 20px;
    padding: 20px;
    padding-top: 0;
}

#main_receivable h1{
    grid-area: judul;
}

#main_receivable #back{
    grid-area: back;
}

#input_rc, #input_dt {
    grid-area: input;
    background-color: #270081;
    border-radius: 15px;
    padding: 20px;
}

#submit {
    background-color: #3700ff;
    margin: 0;
    margin-top: 10px;
}

#table_rc, #table_dt {
    grid-area: table;
    overflow-x: scroll;
}

select {
    margin:10px 0;
    margin-top: 5px;
    padding: 5px;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    background-color: #17004d;
}

#table_dt td:last-child {
    text-align: center;
}

.deletedrc {
    margin: 0;
}
/* FOR RECEIVABLES */

/* FOR INVENTORY */
#inventoryLp, #inventoryRe {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "judul judul" "input table";
    padding: 20px;
    column-gap: 20px;

}

#inventoryRe {
    grid-template-areas: "judul back" "input table";
}

#inventoryLp h1, #inventoryRe h1 {
    grid-area: judul;
}

#inputLp, #inputRe {
    grid-area: input;
    background-color: #2e00ad;
    padding: 20px;
    border-radius: 15px;
    height: fit-content;
}

#inputRe #typeRe {
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    padding: 5px;
    background-color: #150050;
    color: whitesmoke;
}

#inputRe .submit, #inputLp .submit{
    margin-top: 20px;
    background-color: #7d19ff;
}

#tableLp, #tableRe {
    grid-area: table;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.205);
}

#inventoryRe #back {
    grid-area: back;
    height: fit-content;
}
/* FOR INVENTORY */

/* FOR FIXED ASSET */
#m-faset {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 20px;
    grid-template-areas: "judul judul" "menu-aset graph";
    padding: 20px;
}

#m-faset #menu-aset {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: fit-content;
}

#menu-aset h2 {
    margin: 0;
}

.aset, .form-table {
    background-color: #3700ff;
    border-radius: 15px;
    padding: 20px;
    align-content: center;
}

#m-faset #sec_edit {
    background-color: #6200ff;
    display: none;
}


#c_asset {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: max-content max-content;
    grid-template-areas: "judul_asset add_asset" "list_asset list_asset";
    align-items: center;
    height: fit-content;
}

#c_asset ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#c_asset ul li {
    border: 2px solid #7700ff;
    border-radius: 15px;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
}

#c_asset ul li:hover {
    background-color: #190042;
}

#c_asset #add_asset {
    padding: 10px 15px;
    justify-self: end;
}

#back {
    width: 20%;
    justify-self: end;
}

td, th {
    white-space: nowrap;
    padding: 5px 10px;
}

#m-faset table td:last-child {
    text-align: start;
}

.table {
    overflow-x: scroll;
    scrollbar-width: none;
}

#c_asset #add_asset {
    margin-top: 0;
}

.form .edit .disposal {
    display: none;
}
/* FOR TREASURY */
.m-treasury {
    grid-template-rows: auto 1fr;
}

.m-treasury h1 {
    margin: 20px;
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
    "outer outer"
    "balance table"
    "input table";
    gap: 20px;
    margin: 20px;
}

.outer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 0 20px;
}

.outer h2, h3, h4 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    height: fit-content;
    width: fit-content;
}

#switch {
    border-radius: 15px;
    max-width: fit-content;
    max-height: fit-content;
    justify-self: end;
    text-align: center;
    background-color: #3700ff;
    color: #d3d3d3;
    border: #d3d3d3;
    padding: 10px;
}

.m-treasury section, #m-faset section {
    background-color: #2b00a0;
    border-radius: 15px;
    padding: 20px;
}

.m-treasury .input {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: fit-content;
}

form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

label {
    height: fit-content;
}

input, .input select, .input button, .balance button, button, #back {
    border-radius: 15px;
    border: #d3d3d3;
    background-color: #150050;
    padding: 0 10px;
    min-height: 30px;
    color: #d3d3d3;
}

input {
    margin-bottom: 10px;
}

.input button, .m-faset-submit, #back, #add_asset {
    margin: 20px 0;
    padding: 0;
    background-color: #4400ff;
}

.balance button {
    margin: 0;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td:last-child, td:first-child {
    text-align: center;
}

table thead th {
    background-color: #150050;
}

table thead tr th {
    border: 1px solid #3700ff;
}

tbody tr:nth-child(even) {
    background-color: #150050;
}

button {
    transition: all 0.3s;
}

button:active, .aset:active, .form-table:active, #back:active, #c_asset ul li:active {
    transform: scale(0.95);
    background-color: #270081;
}

button:hover, .aset:hover, .form-table:hover {
    cursor: pointer;
    transform: scale(0.99);
}

.btn-hapus,.btn-edit, .btn-check, .balance .btn-editBalance {
    min-height: fit-content;
    margin: 0;
    justify-self: center;
}

.balance .btn-editBalance {
    padding: 10px;
}

.btn-hapus {
    background-color: red;
}

/* FOR TREASURY */

/* FOR TREASURY : EDIT */

.input.edit {
    display: none;
    background-color: blue;
}

.input.e-bank {
    display: none;
    background-color: #c300ff;
}

.input.e-bank input {
    background-color: #4b005e;
}

.input.e-bank button {
    background-color: #a800ca;
}
/* FOR TREASURY : EDIT */


#content {
    background:
        linear-gradient(to right, rgba(10, 0, 42, 0.9), rgba(10, 0, 42, 0.4)),
        url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 90%;
    justify-self: center;
    align-content: center;
    align-self: center;
    border-radius: 15px;
}

#content h1, button {
    margin: 0 0 0 20px;
}

#content button {
    background-color: #3700ff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    color: aliceblue;
    border-radius: 15px;
    transition: all 0.2s;
}

#content button:hover {
    scale: 1.1;
}

#sub-content {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
    height: 30vh;
    margin: 0 50px 20px 50px;
    place-items: center;
}

.box {
    background-color: #2b00a0;
    backdrop-filter: blur(20px);
    align-self: flex-start;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.144);
    transition: all 0.3s;
}

.box:hover {
    scale: 1.1;
}

.box h4 {
    margin: 0;
    justify-self: center;
}

i {
    font-size: 30px;
    margin-bottom: 10px;
}

.burger {
    display: none;
    background: none;
    border: none;
    margin: 0;
    color: #d3d3d3;
    font-size: 40px;
    height: fit-content;
}

#table_fix #m-faset {
    grid-template-areas: 'judul back' 'insert table';
}

 #detail #m-faset {
    grid-template-areas: 'judul back' 'c_asset table';
 }

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    body.active {
        overflow: hidden;
    }

    aside {
        position: absolute;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 0fr;
        height: fit-content;
        width: 100%;
        padding: 0;
        align-items: start;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    aside.active {
        grid-template-rows: auto 1fr;
    }

    aside h1 {
        margin: 10px 0;
        font-size: 25px;
    }

    .burger {
        display: flex;
        justify-self: end;
        align-self: center;
        margin-right: 20px;
    }

    nav {
        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: 0.8s ease-in-out;
    }

    nav.active {
        opacity: 1;
        height: 100vh;
        visibility: visible;
    }

    nav li {
        margin-left: 28px;
    }

    main {
        grid-template-rows: auto 1fr;
        margin-top: 50px;
    }

    #content {
        height: 180px;
        align-content: end;
        font-size: 14px;
        margin: 20px 0;
    }

    #content button {
        display: none;
    }

    #sub-content {
        margin: 20px;
    }

    main.m-treasury {
        grid-template-columns: 1fr;
    }

    .m-treasury h2 {
        display: none;
    }


    .m-treasury div {
        grid-template-columns: 1fr;
        grid-template-areas: "outer" "balance" "input" "table";
    }


    .m-treasury #date:invalid::-webkit-datetime-edit {
        color: transparent;
    }

    .m-treasury #date:invalid::before{
        content: "DD/MM/YYYY";
        color: #808080;
    }
    
    .outer {
        margin:0;
    }

    #switch {
        justify-self: start;
    }


}

@media (max-width: 425px) {
    #m-faset {
        grid-template-columns: 1fr;
        grid-template-areas: "judul" "menu-aset" "graph";
        gap: 10px;
    }

    #m-faset #menu-aset {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    #m-faset #sec_graph {
        margin-top: 10px;
    }

    #sec_graph div canvas {
        width: 100%;
    }

    #table_fix #m-faset{
        grid-template-areas: 'judul' 'back' 'insert' 'table';
    }
    
    #detail #m-faset {
       grid-template-areas: 'judul' 'back' 'c_asset' 'table';
       grid-template-columns: 1fr;
    }

    #back {
        width: 100%;
        margin-top: 0;
    }

    #inventoryLp, #inventoryRe {
        grid-template-areas: "judul" "judul" "input" "table";
        gap: 0;
    }

    #inventoryRe {
        grid-template-areas: "judul" "back" "input" "table";
    }

    #tableRe, #tableLp {
        margin-top: 20px;
    }

    #inventoryLp h1, #inventoryRe h1 {
        font-size: 18px;
    }

    #inventoryLp h2, #inventoryRe h2 {
        font-size: 16px;
    }
}